/*
  center.css
*/

@property --maxWidth {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 100%;
}

[data-bedrock-layout-center] {
  box-sizing: content-box;

  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-inline: auto;

  max-inline-size: var(--maxWidth, 100%);
}

[data-bedrock-layout-center~="center-children"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-bedrock-layout-center~="center-text"] {
  text-align: center;
}
