/*
  inline.css
*/
@property --gutter {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

@property --switchAt {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

[data-bedrock-layout-inline] {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gutter);
  justify-content: flex-start;
  align-items: flex-start;
}

[data-bedrock-layout-inline] > * {
  margin: 0;
}

[data-bedrock-layout-inline][style*="--switchAt"] {
  flex-wrap: wrap;
}
[data-bedrock-layout-inline][style*="--switchAt"] > * {
  min-inline-size: fit-content;
  flex-basis: calc((var(--switchAt) - (100% - var(--gutter))) * 999);
}

[data-bedrock-layout-inline~="justify:start"] {
  justify-content: flex-start;
}
[data-bedrock-layout-inline~="justify:center"] {
  justify-content: center;
}
[data-bedrock-layout-inline~="justify:end"] {
  justify-content: flex-end;
}

[data-bedrock-layout-inline~="align:start"] {
  align-items: flex-start;
}
[data-bedrock-layout-inline~="align:center"] {
  align-items: center;
}
[data-bedrock-layout-inline~="align:end"] {
  align-items: flex-end;
}

[data-bedrock-layout-inline~="stretch:all"] > * {
  flex: 1;
}
[data-bedrock-layout-inline~="stretch:start"] > :first-child {
  flex: 1;
}
[data-bedrock-layout-inline~="stretch:end"] > :last-child {
  flex: 1;
}

[data-bedrock-layout-inline~="stretch:0"] > :nth-child(1) {
  flex: 1;
}
[data-bedrock-layout-inline~="stretch:1"] > :nth-child(2) {
  flex: 1;
}
[data-bedrock-layout-inline~="stretch:2"] > :nth-child(3) {
  flex: 1;
}
[data-bedrock-layout-inline~="stretch:3"] > :nth-child(4) {
  flex: 1;
}
[data-bedrock-layout-inline~="stretch:4"] > :nth-child(5) {
  flex: 1;
}
