/*
  stack.css
*/

@property --gutter {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

[data-bedrock-stack] {
  box-sizing: border-box;
  display: grid;
  gap: var(--gutter, 0);
  align-content: start;
}

[data-bedrock-stack] > * {
  margin: 0;
}

[data-bedrock-stack] > [data-bedrock-column] {
  grid-column: span 1 / auto;
}
