[data-bedrock-layout-stack] {
  --gutter: 0;
  box-sizing: border-box;
  display: grid;
  gap: var(--gutter);
  align-content: start;
}

[data-bedrock-layout-stack] > * {
  margin: 0;
}

[data-bedrock-layout-stack] > [data-bedrock-layout-column] {
  grid-column: span 1 / auto;
}
