{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["jsx-a11y", "@typescript-eslint"],
  "ignorePatterns": ["node_modules", "packages/*/lib"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0
  }
}
