body {
  font-family: var(--font-sans);
  margin: 0 auto !important;
  padding: 0 !important;
  max-width: 90vw;
  font-size: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-inline-size: 60ch;
  overflow-wrap: break-word;
}

img,
picture {
  display: block;
  max-inline-size: 100%;
}

html:focus-within {
  scroll-behavior: auto;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

.sbdocs-content.sbdocs-content {
  max-width: var(--size-xxlarge);
}

:is(body, p, .sbdocs-p.sbdocs-p) {
  font-size: 100%;
}

.sbdocs-preview.sbdocs-preview {
  background-color: var(--gray-0);
}

.sbdocs.sbdocs:where(:is(h1, h2, h3, h4, h5, h6)) {
  font-size: var(--font-size-6);
}

.main-heading.main-heading {
  margin: 0;
  font-size: var(--font-size-fluid-3);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: var(--font-weight-4);
  letter-spacing: 0.5ch;
  color: white;
}

.main-heading.main-heading > * {
  font-size: var(--font-size-fluid-3);
}

.main-heading.main-heading > * + * {
  font-size: var(--font-size-fluid-2);
  line-height: var(--font-lineheight-2);
  letter-spacing: 0.5ch;
}

[data-card] {
  --titleColor: var(--gray-12);
  --fontColor: var(--gray-7);
  --labelColor: var(--gray-8);
  --selectBackground: none;
  --selectColor: var(--gray-7);
  --selectBorder: var(--border-size-1) solid var(--gray-3);
  border: var(--border-size-1) solid var(--gray-3);
  border-radius: var(--radius-3);
  font-size: var(--font-size-3);
  font-family: var(--font-sans);
  color: var(--fontColor);
}

[data-card~="dark"] {
  --titleColor: var(--gray-0);
  --fontColor: var(--gray-5);
  --labelColor: var(--gray-2);
  --selectBackground: var(--gray-8);
  --selectColor: var(--gray-4);
  --selectBorder: none;
  background-color: var(--gray-10);
}

[data-card~="image"] {
  background-color: var(--indigo-12);
  background-image: url("/people.jpeg");
  background-position: cover;
  background-blend-mode: multiply, luminosity;
}

[data-card-title] {
  font-size: var(--font-size-8);
  color: var(--titleColor);
}

[data-card-subtitle] {
  color: var(--blue-8);
  font-weight: var(--font-weight-6);
}

[data-select] {
  position: relative;
  color: var(--labelColor);
  font-size: var(--font-size-2);
}

[data-select]::after {
  --size: var(--size-5);
  content: " ";
  background-color: var(--selectColor);
  width: var(--size);
  height: var(--size);
  clip-path: path(
    "M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
  );
  position: absolute;
  right: var(--size-1);
  bottom: 0;
}

[data-select] > select {
  -webkit-appearance: none;
  border-radius: var(--radius-2);
  background-color: var(--selectBackground);
  color: var(--selectColor);
  font-size: var(--font-size-1);
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  border: var(--selectBorder);
  position: relative;
}

[data-input] {
  border-radius: var(--radius-2);
  font-size: var(--font-size-1);
  border: var(--border-size-1) solid var(--gray-3);
  position: relative;
}
