body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  margin: 0 auto !important;
  padding: 0 !important;
  max-width: 90vw;
  font-size: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-inline-size: 60ch;
  overflow-wrap: break-word;
}

img,
picture {
  display: block;
  max-inline-size: 100%;
}

html:focus-within {
  scroll-behavior: auto;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

.sbdocs-content.sbdocs-content {
  max-width: var(--size-xxlarge);
}

:is(body, p, .sbdocs-p.sbdocs-p) {
  font-size: 100%;
}

.sbdocs-preview.sbdocs-preview {
  background-color: var(--gray-0);
}
