/*
  center.css
*/

[data-bedrock-center] {
  --maxWidth: initial;
  --max-width: var(--maxWidth, initial);
  box-sizing: content-box;

  max-inline-size: var(--max-width, 100%);
}
[data-bedrock-center][data-bedrock-center] {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-inline: auto;
}

[data-bedrock-center~="center-children"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-bedrock-center~="center-text"] {
  text-align: center;
}
