/*
  column-drop.css
*/

[data-br-column-drop] {
  --gap: initial;
  --min-item-width: initial;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap, 0);
}

[data-br-column-drop] > * {
  margin: 0;
  flex-basis: var(--min-item-width, 159px);
  flex-grow: 1;
  flex-shrink: 1;
}

[data-br-column-drop~="variant:centered"] > * {
  flex-grow: 0;
}

/* Padding styles from padbox.css */
[data-br-column-drop~="padding:size000"] {
  padding: 0;
}
[data-br-column-drop~="padding:size00"] {
  padding: 0;
}
[data-br-column-drop~="padding:size1"] {
  padding: 0.25rem;
}
[data-br-column-drop~="padding:size2"] {
  padding: 0.5rem;
}
[data-br-column-drop~="padding:size3"] {
  padding: 1rem;
}
[data-br-column-drop~="padding:size4"] {
  padding: 1.25rem;
}
[data-br-column-drop~="padding:size5"] {
  padding: 1.5rem;
}
[data-br-column-drop~="padding:size6"] {
  padding: 1.75rem;
}
[data-br-column-drop~="padding:size7"] {
  padding: 2rem;
}
[data-br-column-drop~="padding:size8"] {
  padding: 3rem;
}
[data-br-column-drop~="padding:size9"] {
  padding: 4rem;
}
[data-br-column-drop~="padding:size10"] {
  padding: 5rem;
}
[data-br-column-drop~="padding:size11"] {
  padding: 7.5rem;
}
[data-br-column-drop~="padding:size12"] {
  padding: 10rem;
}
[data-br-column-drop~="padding:size13"] {
  padding: 15rem;
}
[data-br-column-drop~="padding:size14"] {
  padding: 20rem;
}
[data-br-column-drop~="padding:size15"] {
  padding: 30rem;
}
[data-br-column-drop~="paddingInline:size000"] {
  padding-inline: 0;
}
[data-br-column-drop~="paddingInline:size00"] {
  padding-inline: 0;
}
[data-br-column-drop~="paddingInline:size1"] {
  padding-inline: 0.25rem;
}
[data-br-column-drop~="paddingInline:size2"] {
  padding-inline: 0.5rem;
}
[data-br-column-drop~="paddingInline:size3"] {
  padding-inline: 1rem;
}
[data-br-column-drop~="paddingInline:size4"] {
  padding-inline: 1.25rem;
}
[data-br-column-drop~="paddingInline:size5"] {
  padding-inline: 1.5rem;
}
[data-br-column-drop~="paddingInline:size6"] {
  padding-inline: 1.75rem;
}
[data-br-column-drop~="paddingInline:size7"] {
  padding-inline: 2rem;
}
[data-br-column-drop~="paddingInline:size8"] {
  padding-inline: 3rem;
}
[data-br-column-drop~="paddingInline:size9"] {
  padding-inline: 4rem;
}
[data-br-column-drop~="paddingInline:size10"] {
  padding-inline: 5rem;
}
[data-br-column-drop~="paddingInline:size11"] {
  padding-inline: 7.5rem;
}
[data-br-column-drop~="paddingInline:size12"] {
  padding-inline: 10rem;
}
[data-br-column-drop~="paddingInline:size13"] {
  padding-inline: 15rem;
}
[data-br-column-drop~="paddingInline:size14"] {
  padding-inline: 20rem;
}
[data-br-column-drop~="paddingInline:size15"] {
  padding-inline: 30rem;
}
[data-br-column-drop~="paddingInlineStart:size000"] {
  padding-inline-start: 0;
}
[data-br-column-drop~="paddingInlineStart:size00"] {
  padding-inline-start: 0;
}
[data-br-column-drop~="paddingInlineStart:size1"] {
  padding-inline-start: 0.25rem;
}
[data-br-column-drop~="paddingInlineStart:size2"] {
  padding-inline-start: 0.5rem;
}
[data-br-column-drop~="paddingInlineStart:size3"] {
  padding-inline-start: 1rem;
}
[data-br-column-drop~="paddingInlineStart:size4"] {
  padding-inline-start: 1.25rem;
}
[data-br-column-drop~="paddingInlineStart:size5"] {
  padding-inline-start: 1.5rem;
}
[data-br-column-drop~="paddingInlineStart:size6"] {
  padding-inline-start: 1.75rem;
}
[data-br-column-drop~="paddingInlineStart:size7"] {
  padding-inline-start: 2rem;
}
[data-br-column-drop~="paddingInlineStart:size8"] {
  padding-inline-start: 3rem;
}
[data-br-column-drop~="paddingInlineStart:size9"] {
  padding-inline-start: 4rem;
}
[data-br-column-drop~="paddingInlineStart:size10"] {
  padding-inline-start: 5rem;
}
[data-br-column-drop~="paddingInlineStart:size11"] {
  padding-inline-start: 7.5rem;
}
[data-br-column-drop~="paddingInlineStart:size12"] {
  padding-inline-start: 10rem;
}
[data-br-column-drop~="paddingInlineStart:size13"] {
  padding-inline-start: 15rem;
}
[data-br-column-drop~="paddingInlineStart:size14"] {
  padding-inline-start: 20rem;
}
[data-br-column-drop~="paddingInlineStart:size15"] {
  padding-inline-start: 30rem;
}
[data-br-column-drop~="paddingInlineEnd:size000"] {
  padding-inline-end: 0;
}
[data-br-column-drop~="paddingInlineEnd:size00"] {
  padding-inline-end: 0;
}
[data-br-column-drop~="paddingInlineEnd:size1"] {
  padding-inline-end: 0.25rem;
}
[data-br-column-drop~="paddingInlineEnd:size2"] {
  padding-inline-end: 0.5rem;
}
[data-br-column-drop~="paddingInlineEnd:size3"] {
  padding-inline-end: 1rem;
}
[data-br-column-drop~="paddingInlineEnd:size4"] {
  padding-inline-end: 1.25rem;
}
[data-br-column-drop~="paddingInlineEnd:size5"] {
  padding-inline-end: 1.5rem;
}
[data-br-column-drop~="paddingInlineEnd:size6"] {
  padding-inline-end: 1.75rem;
}
[data-br-column-drop~="paddingInlineEnd:size7"] {
  padding-inline-end: 2rem;
}
[data-br-column-drop~="paddingInlineEnd:size8"] {
  padding-inline-end: 3rem;
}
[data-br-column-drop~="paddingInlineEnd:size9"] {
  padding-inline-end: 4rem;
}
[data-br-column-drop~="paddingInlineEnd:size10"] {
  padding-inline-end: 5rem;
}
[data-br-column-drop~="paddingInlineEnd:size11"] {
  padding-inline-end: 7.5rem;
}
[data-br-column-drop~="paddingInlineEnd:size12"] {
  padding-inline-end: 10rem;
}
[data-br-column-drop~="paddingInlineEnd:size13"] {
  padding-inline-end: 15rem;
}
[data-br-column-drop~="paddingInlineEnd:size14"] {
  padding-inline-end: 20rem;
}
[data-br-column-drop~="paddingInlineEnd:size15"] {
  padding-inline-end: 30rem;
}
[data-br-column-drop~="paddingBlock:size000"] {
  padding-block: 0;
}
[data-br-column-drop~="paddingBlock:size00"] {
  padding-block: 0;
}
[data-br-column-drop~="paddingBlock:size1"] {
  padding-block: 0.25rem;
}
[data-br-column-drop~="paddingBlock:size2"] {
  padding-block: 0.5rem;
}
[data-br-column-drop~="paddingBlock:size3"] {
  padding-block: 1rem;
}
[data-br-column-drop~="paddingBlock:size4"] {
  padding-block: 1.25rem;
}
[data-br-column-drop~="paddingBlock:size5"] {
  padding-block: 1.5rem;
}
[data-br-column-drop~="paddingBlock:size6"] {
  padding-block: 1.75rem;
}
[data-br-column-drop~="paddingBlock:size7"] {
  padding-block: 2rem;
}
[data-br-column-drop~="paddingBlock:size8"] {
  padding-block: 3rem;
}
[data-br-column-drop~="paddingBlock:size9"] {
  padding-block: 4rem;
}
[data-br-column-drop~="paddingBlock:size10"] {
  padding-block: 5rem;
}
[data-br-column-drop~="paddingBlock:size11"] {
  padding-block: 7.5rem;
}
[data-br-column-drop~="paddingBlock:size12"] {
  padding-block: 10rem;
}
[data-br-column-drop~="paddingBlock:size13"] {
  padding-block: 15rem;
}
[data-br-column-drop~="paddingBlock:size14"] {
  padding-block: 20rem;
}
[data-br-column-drop~="paddingBlock:size15"] {
  padding-block: 30rem;
}
[data-br-column-drop~="paddingBlockStart:size000"] {
  padding-block-start: 0;
}
[data-br-column-drop~="paddingBlockStart:size00"] {
  padding-block-start: 0;
}
[data-br-column-drop~="paddingBlockStart:size1"] {
  padding-block-start: 0.25rem;
}
[data-br-column-drop~="paddingBlockStart:size2"] {
  padding-block-start: 0.5rem;
}
[data-br-column-drop~="paddingBlockStart:size3"] {
  padding-block-start: 1rem;
}
[data-br-column-drop~="paddingBlockStart:size4"] {
  padding-block-start: 1.25rem;
}
[data-br-column-drop~="paddingBlockStart:size5"] {
  padding-block-start: 1.5rem;
}
[data-br-column-drop~="paddingBlockStart:size6"] {
  padding-block-start: 1.75rem;
}
[data-br-column-drop~="paddingBlockStart:size7"] {
  padding-block-start: 2rem;
}
[data-br-column-drop~="paddingBlockStart:size8"] {
  padding-block-start: 3rem;
}
[data-br-column-drop~="paddingBlockStart:size9"] {
  padding-block-start: 4rem;
}
[data-br-column-drop~="paddingBlockStart:size10"] {
  padding-block-start: 5rem;
}
[data-br-column-drop~="paddingBlockStart:size11"] {
  padding-block-start: 7.5rem;
}
[data-br-column-drop~="paddingBlockStart:size12"] {
  padding-block-start: 10rem;
}
[data-br-column-drop~="paddingBlockStart:size13"] {
  padding-block-start: 15rem;
}
[data-br-column-drop~="paddingBlockStart:size14"] {
  padding-block-start: 20rem;
}
[data-br-column-drop~="paddingBlockStart:size15"] {
  padding-block-start: 30rem;
}
[data-br-column-drop~="paddingBlockEnd:size000"] {
  padding-block-end: 0;
}
[data-br-column-drop~="paddingBlockEnd:size00"] {
  padding-block-end: 0;
}
[data-br-column-drop~="paddingBlockEnd:size1"] {
  padding-block-end: 0.25rem;
}
[data-br-column-drop~="paddingBlockEnd:size2"] {
  padding-block-end: 0.5rem;
}
[data-br-column-drop~="paddingBlockEnd:size3"] {
  padding-block-end: 1rem;
}
[data-br-column-drop~="paddingBlockEnd:size4"] {
  padding-block-end: 1.25rem;
}
[data-br-column-drop~="paddingBlockEnd:size5"] {
  padding-block-end: 1.5rem;
}
[data-br-column-drop~="paddingBlockEnd:size6"] {
  padding-block-end: 1.75rem;
}
[data-br-column-drop~="paddingBlockEnd:size7"] {
  padding-block-end: 2rem;
}
[data-br-column-drop~="paddingBlockEnd:size8"] {
  padding-block-end: 3rem;
}
[data-br-column-drop~="paddingBlockEnd:size9"] {
  padding-block-end: 4rem;
}
[data-br-column-drop~="paddingBlockEnd:size10"] {
  padding-block-end: 5rem;
}
[data-br-column-drop~="paddingBlockEnd:size11"] {
  padding-block-end: 7.5rem;
}
[data-br-column-drop~="paddingBlockEnd:size12"] {
  padding-block-end: 10rem;
}
[data-br-column-drop~="paddingBlockEnd:size13"] {
  padding-block-end: 15rem;
}
[data-br-column-drop~="paddingBlockEnd:size14"] {
  padding-block-end: 20rem;
}
[data-br-column-drop~="paddingBlockEnd:size15"] {
  padding-block-end: 30rem;
}
