/*
  cover.css
*/

[data-bedrock-cover] {
  --gap: initial;
  --gutter: initial;
  --minHeight: initial;
  --min-height: initial;
  display: flex;
  flex-direction: column;
  gap: var(--gap, var(--gutter, 0px));

  min-block-size: var(--min-height, var(--minHeight, 100vh));
}

[data-bedrock-cover] > * {
  margin: 0;
}

[data-bedrock-cover] > [data-bedrock-cover-centered] {
  margin-block-start: auto;
  margin-block-end: auto;
}

[data-bedrock-cover~="stretch-content"] > [data-bedrock-cover-centered] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

[data-bedrock-cover~="stretch-content"] > [data-bedrock-cover-centered] > * {
  flex: 1;
}

[data-bedrock-cover~="variant:stretch-content"]
  > [data-bedrock-cover-centered] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

[data-bedrock-cover~="variant:stretch-content"]
  > [data-bedrock-cover-centered]
  > * {
  flex: 1;
}

/* Gutter Sizes */
[data-bedrock-cover~="gutter:size000"] {
  --gutter: -0.5rem;
}
[data-bedrock-cover~="gutter:size00"] {
  --gutter: -0.25rem;
}
[data-bedrock-cover~="gutter:size1"] {
  --gutter: 0.25rem;
}
[data-bedrock-cover~="gutter:size2"] {
  --gutter: 0.5rem;
}
[data-bedrock-cover~="gutter:size3"] {
  --gutter: 1rem;
}
[data-bedrock-cover~="gutter:size4"] {
  --gutter: 1.25rem;
}
[data-bedrock-cover~="gutter:size5"] {
  --gutter: 1.5rem;
}
[data-bedrock-cover~="gutter:size6"] {
  --gutter: 1.75rem;
}
[data-bedrock-cover~="gutter:size7"] {
  --gutter: 2rem;
}
[data-bedrock-cover~="gutter:size8"] {
  --gutter: 3rem;
}
[data-bedrock-cover~="gutter:size9"] {
  --gutter: 4rem;
}
[data-bedrock-cover~="gutter:size10"] {
  --gutter: 5rem;
}
[data-bedrock-cover~="gutter:size11"] {
  --gutter: 7.5rem;
}
[data-bedrock-cover~="gutter:size12"] {
  --gutter: 10rem;
}
[data-bedrock-cover~="gutter:size13"] {
  --gutter: 15rem;
}
[data-bedrock-cover~="gutter:size14"] {
  --gutter: 20rem;
}
[data-bedrock-cover~="gutter:size15"] {
  --gutter: 30rem;
}

/* gap sizes */
[data-bedrock-cover~="gap:size000"] {
  --gap: -0.5rem;
}
[data-bedrock-cover~="gap:size00"] {
  --gap: -0.25rem;
}
[data-bedrock-cover~="gap:size1"] {
  --gap: 0.25rem;
}
[data-bedrock-cover~="gap:size2"] {
  --gap: 0.5rem;
}
[data-bedrock-cover~="gap:size3"] {
  --gap: 1rem;
}
[data-bedrock-cover~="gap:size4"] {
  --gap: 1.25rem;
}
[data-bedrock-cover~="gap:size5"] {
  --gap: 1.5rem;
}
[data-bedrock-cover~="gap:size6"] {
  --gap: 1.75rem;
}
[data-bedrock-cover~="gap:size7"] {
  --gap: 2rem;
}
[data-bedrock-cover~="gap:size8"] {
  --gap: 3rem;
}
[data-bedrock-cover~="gap:size9"] {
  --gap: 4rem;
}
[data-bedrock-cover~="gap:size10"] {
  --gap: 5rem;
}
[data-bedrock-cover~="gap:size11"] {
  --gap: 7.5rem;
}
[data-bedrock-cover~="gap:size12"] {
  --gap: 10rem;
}
[data-bedrock-cover~="gap:size13"] {
  --gap: 15rem;
}
[data-bedrock-cover~="gap:size14"] {
  --gap: 20rem;
}
[data-bedrock-cover~="gap:size15"] {
  --gap: 30rem;
}

/*
  cover.css
*/

[data-br-cover] {
  --gap: initial;
  --gutter: initial;
  --minHeight: initial;
  --min-height: initial;
  display: flex;
  flex-direction: column;
  gap: var(--gap, var(--gutter, 0px));

  min-block-size: var(--min-height, var(--minHeight, 100vh));
}

[data-br-cover] > * {
  margin: 0;
}

[data-br-cover] > [data-br-cover-centered] {
  margin-block-start: auto;
  margin-block-end: auto;
}

[data-br-cover~="stretch-content"] > [data-br-cover-centered] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

[data-br-cover~="stretch-content"] > [data-br-cover-centered] > * {
  flex: 1;
}

[data-br-cover~="variant:stretch-content"] > [data-br-cover-centered] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

[data-br-cover~="variant:stretch-content"] > [data-br-cover-centered] > * {
  flex: 1;
}

/* Gutter Sizes */
[data-br-cover~="gutter:size000"] {
  --gutter: -0.5rem;
}
[data-br-cover~="gutter:size00"] {
  --gutter: -0.25rem;
}
[data-br-cover~="gutter:size1"] {
  --gutter: 0.25rem;
}
[data-br-cover~="gutter:size2"] {
  --gutter: 0.5rem;
}
[data-br-cover~="gutter:size3"] {
  --gutter: 1rem;
}
[data-br-cover~="gutter:size4"] {
  --gutter: 1.25rem;
}
[data-br-cover~="gutter:size5"] {
  --gutter: 1.5rem;
}
[data-br-cover~="gutter:size6"] {
  --gutter: 1.75rem;
}
[data-br-cover~="gutter:size7"] {
  --gutter: 2rem;
}
[data-br-cover~="gutter:size8"] {
  --gutter: 3rem;
}
[data-br-cover~="gutter:size9"] {
  --gutter: 4rem;
}
[data-br-cover~="gutter:size10"] {
  --gutter: 5rem;
}
[data-br-cover~="gutter:size11"] {
  --gutter: 7.5rem;
}
[data-br-cover~="gutter:size12"] {
  --gutter: 10rem;
}
[data-br-cover~="gutter:size13"] {
  --gutter: 15rem;
}
[data-br-cover~="gutter:size14"] {
  --gutter: 20rem;
}
[data-br-cover~="gutter:size15"] {
  --gutter: 30rem;
}

/* gap sizes */
[data-br-cover~="gap:size000"] {
  --gap: -0.5rem;
}
[data-br-cover~="gap:size00"] {
  --gap: -0.25rem;
}
[data-br-cover~="gap:size1"] {
  --gap: 0.25rem;
}
[data-br-cover~="gap:size2"] {
  --gap: 0.5rem;
}
[data-br-cover~="gap:size3"] {
  --gap: 1rem;
}
[data-br-cover~="gap:size4"] {
  --gap: 1.25rem;
}
[data-br-cover~="gap:size5"] {
  --gap: 1.5rem;
}
[data-br-cover~="gap:size6"] {
  --gap: 1.75rem;
}
[data-br-cover~="gap:size7"] {
  --gap: 2rem;
}
[data-br-cover~="gap:size8"] {
  --gap: 3rem;
}
[data-br-cover~="gap:size9"] {
  --gap: 4rem;
}
[data-br-cover~="gap:size10"] {
  --gap: 5rem;
}
[data-br-cover~="gap:size11"] {
  --gap: 7.5rem;
}
[data-br-cover~="gap:size12"] {
  --gap: 10rem;
}
[data-br-cover~="gap:size13"] {
  --gap: 15rem;
}
[data-br-cover~="gap:size14"] {
  --gap: 20rem;
}
[data-br-cover~="gap:size15"] {
  --gap: 30rem;
}
