/*
  grid.css
*/

[data-bedrock-grid] {
  --gutter: initial;
  --minItemWidth: initial;
  box-sizing: border-box;
  display: grid;
  gap: var(--gutter, 0);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--minItemWidth, 639px), 100%), 1fr)
  );
}

[data-bedrock-grid] > * {
  margin: 0;
}

[data-bedrock-grid~="variant:masonry"] {
  grid-template-rows: masonry;
  masonry-auto-flow: next;
}

/* Gutter Sizes */
[data-bedrock-grid~="gutter:size000"] {
  --gutter: -0.5rem;
}
[data-bedrock-grid~="gutter:size00"] {
  --gutter: -0.25rem;
}
[data-bedrock-grid~="gutter:size1"] {
  --gutter: 0.25rem;
}
[data-bedrock-grid~="gutter:size2"] {
  --gutter: 0.5rem;
}
[data-bedrock-grid~="gutter:size3"] {
  --gutter: 1rem;
}
[data-bedrock-grid~="gutter:size4"] {
  --gutter: 1.25rem;
}
[data-bedrock-grid~="gutter:size5"] {
  --gutter: 1.5rem;
}
[data-bedrock-grid~="gutter:size6"] {
  --gutter: 1.75rem;
}
[data-bedrock-grid~="gutter:size7"] {
  --gutter: 2rem;
}
[data-bedrock-grid~="gutter:size8"] {
  --gutter: 3rem;
}
[data-bedrock-grid~="gutter:size9"] {
  --gutter: 4rem;
}
[data-bedrock-grid~="gutter:size10"] {
  --gutter: 5rem;
}
[data-bedrock-grid~="gutter:size11"] {
  --gutter: 7.5rem;
}
[data-bedrock-grid~="gutter:size12"] {
  --gutter: 10rem;
}
[data-bedrock-grid~="gutter:size13"] {
  --gutter: 15rem;
}
[data-bedrock-grid~="gutter:size14"] {
  --gutter: 20rem;
}
[data-bedrock-grid~="gutter:size15"] {
  --gutter: 30rem;
}
