/*
  grid.css
*/

[data-bedrock-grid] {
  --gap: initial;
  --gutter: initial;
  --minItemWidth: initial;
  --min-item-width: initial;
  box-sizing: border-box;
  display: grid;
  gap: var(--gap, var(--gutter, 0px));
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-item-width, var(--minItemWidth, 639px)), 100%), 1fr)
  );
}

[data-bedrock-grid] > * {
  margin: 0;
}

[data-bedrock-grid~="variant:masonry"] {
  grid-template-rows: masonry;
  masonry-auto-flow: next;
}

/* Gutter Sizes */
[data-bedrock-grid~="gutter:size000"] {
  --gutter: -0.5rem;
}
[data-bedrock-grid~="gutter:size00"] {
  --gutter: -0.25rem;
}
[data-bedrock-grid~="gutter:size1"] {
  --gutter: 0.25rem;
}
[data-bedrock-grid~="gutter:size2"] {
  --gutter: 0.5rem;
}
[data-bedrock-grid~="gutter:size3"] {
  --gutter: 1rem;
}
[data-bedrock-grid~="gutter:size4"] {
  --gutter: 1.25rem;
}
[data-bedrock-grid~="gutter:size5"] {
  --gutter: 1.5rem;
}
[data-bedrock-grid~="gutter:size6"] {
  --gutter: 1.75rem;
}
[data-bedrock-grid~="gutter:size7"] {
  --gutter: 2rem;
}
[data-bedrock-grid~="gutter:size8"] {
  --gutter: 3rem;
}
[data-bedrock-grid~="gutter:size9"] {
  --gutter: 4rem;
}
[data-bedrock-grid~="gutter:size10"] {
  --gutter: 5rem;
}
[data-bedrock-grid~="gutter:size11"] {
  --gutter: 7.5rem;
}
[data-bedrock-grid~="gutter:size12"] {
  --gutter: 10rem;
}
[data-bedrock-grid~="gutter:size13"] {
  --gutter: 15rem;
}
[data-bedrock-grid~="gutter:size14"] {
  --gutter: 20rem;
}
[data-bedrock-grid~="gutter:size15"] {
  --gutter: 30rem;
}

/* gap sizes */
[data-bedrock-grid~="gap:size000"] {
  --gap: -0.5rem;
}
[data-bedrock-grid~="gap:size00"] {
  --gap: -0.25rem;
}
[data-bedrock-grid~="gap:size1"] {
  --gap: 0.25rem;
}
[data-bedrock-grid~="gap:size2"] {
  --gap: 0.5rem;
}
[data-bedrock-grid~="gap:size3"] {
  --gap: 1rem;
}
[data-bedrock-grid~="gap:size4"] {
  --gap: 1.25rem;
}
[data-bedrock-grid~="gap:size5"] {
  --gap: 1.5rem;
}
[data-bedrock-grid~="gap:size6"] {
  --gap: 1.75rem;
}
[data-bedrock-grid~="gap:size7"] {
  --gap: 2rem;
}
[data-bedrock-grid~="gap:size8"] {
  --gap: 3rem;
}
[data-bedrock-grid~="gap:size9"] {
  --gap: 4rem;
}
[data-bedrock-grid~="gap:size10"] {
  --gap: 5rem;
}
[data-bedrock-grid~="gap:size11"] {
  --gap: 7.5rem;
}
[data-bedrock-grid~="gap:size12"] {
  --gap: 10rem;
}
[data-bedrock-grid~="gap:size13"] {
  --gap: 15rem;
}
[data-bedrock-grid~="gap:size14"] {
  --gap: 20rem;
}
[data-bedrock-grid~="gap:size15"] {
  --gap: 30rem;
}

/* Min Item Widths */
[data-bedrock-grid~="minItemWidth:sizeContent1"] {
  --min-item-width: 20ch;
}
[data-bedrock-grid~="minItemWidth:sizeContent2"] {
  --min-item-width: 45ch;
}
[data-bedrock-grid~="minItemWidth:sizeContent3"] {
  --min-item-width: 60ch;
}
[data-bedrock-grid~="minItemWidth:sizeHeader1"] {
  --min-item-width: 20ch;
}
[data-bedrock-grid~="minItemWidth:sizeHeader2"] {
  --min-item-width: 25ch;
}
[data-bedrock-grid~="minItemWidth:sizeHeader3"] {
  --min-item-width: 35ch;
}
[data-bedrock-grid~="minItemWidth:sizeXxs"] {
  --min-item-width: 240px;
}
[data-bedrock-grid~="minItemWidth:sizeXs"] {
  --min-item-width: 360px;
}
[data-bedrock-grid~="minItemWidth:sizeSm"] {
  --min-item-width: 480px;
}
[data-bedrock-grid~="minItemWidth:sizeMd"] {
  --min-item-width: 768px;
}
[data-bedrock-grid~="minItemWidth:sizeLg"] {
  --min-item-width: 1024px;
}
[data-bedrock-grid~="minItemWidth:sizeXl"] {
  --min-item-width: 1440px;
}
[data-bedrock-grid~="minItemWidth:sizeXxl"] {
  --min-item-width: 1920px;
}

/*
  grid.css
*/

[data-br-grid] {
  --gap: initial;
  --gutter: initial;
  --minItemWidth: initial;
  --min-item-width: initial;
  box-sizing: border-box;
  display: grid;
  gap: var(--gap, var(--gutter, 0px));
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-item-width, var(--minItemWidth, 639px)), 100%), 1fr)
  );
}

[data-br-grid] > * {
  margin: 0;
}

[data-br-grid~="variant:masonry"] {
  grid-template-rows: masonry;
  masonry-auto-flow: next;
}

/* Gutter Sizes */
[data-br-grid~="gutter:size000"] {
  --gutter: -0.5rem;
}
[data-br-grid~="gutter:size00"] {
  --gutter: -0.25rem;
}
[data-br-grid~="gutter:size1"] {
  --gutter: 0.25rem;
}
[data-br-grid~="gutter:size2"] {
  --gutter: 0.5rem;
}
[data-br-grid~="gutter:size3"] {
  --gutter: 1rem;
}
[data-br-grid~="gutter:size4"] {
  --gutter: 1.25rem;
}
[data-br-grid~="gutter:size5"] {
  --gutter: 1.5rem;
}
[data-br-grid~="gutter:size6"] {
  --gutter: 1.75rem;
}
[data-br-grid~="gutter:size7"] {
  --gutter: 2rem;
}
[data-br-grid~="gutter:size8"] {
  --gutter: 3rem;
}
[data-br-grid~="gutter:size9"] {
  --gutter: 4rem;
}
[data-br-grid~="gutter:size10"] {
  --gutter: 5rem;
}
[data-br-grid~="gutter:size11"] {
  --gutter: 7.5rem;
}
[data-br-grid~="gutter:size12"] {
  --gutter: 10rem;
}
[data-br-grid~="gutter:size13"] {
  --gutter: 15rem;
}
[data-br-grid~="gutter:size14"] {
  --gutter: 20rem;
}
[data-br-grid~="gutter:size15"] {
  --gutter: 30rem;
}

/* gap sizes */
[data-br-grid~="gap:size000"] {
  --gap: -0.5rem;
}
[data-br-grid~="gap:size00"] {
  --gap: -0.25rem;
}
[data-br-grid~="gap:size1"] {
  --gap: 0.25rem;
}
[data-br-grid~="gap:size2"] {
  --gap: 0.5rem;
}
[data-br-grid~="gap:size3"] {
  --gap: 1rem;
}
[data-br-grid~="gap:size4"] {
  --gap: 1.25rem;
}
[data-br-grid~="gap:size5"] {
  --gap: 1.5rem;
}
[data-br-grid~="gap:size6"] {
  --gap: 1.75rem;
}
[data-br-grid~="gap:size7"] {
  --gap: 2rem;
}
[data-br-grid~="gap:size8"] {
  --gap: 3rem;
}
[data-br-grid~="gap:size9"] {
  --gap: 4rem;
}
[data-br-grid~="gap:size10"] {
  --gap: 5rem;
}
[data-br-grid~="gap:size11"] {
  --gap: 7.5rem;
}
[data-br-grid~="gap:size12"] {
  --gap: 10rem;
}
[data-br-grid~="gap:size13"] {
  --gap: 15rem;
}
[data-br-grid~="gap:size14"] {
  --gap: 20rem;
}
[data-br-grid~="gap:size15"] {
  --gap: 30rem;
}

/* Min Item Widths */
[data-br-grid~="minItemWidth:sizeContent1"] {
  --min-item-width: 20ch;
}
[data-br-grid~="minItemWidth:sizeContent2"] {
  --min-item-width: 45ch;
}
[data-br-grid~="minItemWidth:sizeContent3"] {
  --min-item-width: 60ch;
}
[data-br-grid~="minItemWidth:sizeHeader1"] {
  --min-item-width: 20ch;
}
[data-br-grid~="minItemWidth:sizeHeader2"] {
  --min-item-width: 25ch;
}
[data-br-grid~="minItemWidth:sizeHeader3"] {
  --min-item-width: 35ch;
}
[data-br-grid~="minItemWidth:sizeXxs"] {
  --min-item-width: 240px;
}
[data-br-grid~="minItemWidth:sizeXs"] {
  --min-item-width: 360px;
}
[data-br-grid~="minItemWidth:sizeSm"] {
  --min-item-width: 480px;
}
[data-br-grid~="minItemWidth:sizeMd"] {
  --min-item-width: 768px;
}
[data-br-grid~="minItemWidth:sizeLg"] {
  --min-item-width: 1024px;
}
[data-br-grid~="minItemWidth:sizeXl"] {
  --min-item-width: 1440px;
}
[data-br-grid~="minItemWidth:sizeXxl"] {
  --min-item-width: 1920px;
}
