/*
  inline-cluster.css
*/

@property --gutter {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

[data-bedrock-inline-cluster] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 0px);
  justify-content: flex-start;
  align-items: flex-start;
}

[data-bedrock-inline-cluster] > * {
  margin: 0;
}

[data-bedrock-inline-cluster~="justify:start"] {
  justify-content: flex-start;
}
[data-bedrock-inline-cluster~="justify:center"] {
  justify-content: center;
}
[data-bedrock-inline-cluster~="justify:end"] {
  justify-content: flex-end;
}

[data-bedrock-inline-cluster~="align:start"] {
  align-items: flex-start;
}
[data-bedrock-inline-cluster~="align:center"] {
  align-items: center;
}
[data-bedrock-inline-cluster~="align:end"] {
  align-items: flex-end;
}
[data-bedrock-inline-cluster~="align:stretch"] {
  align-items: stretch;
}

/* Gutter Sizes */
[data-bedrock-inline-cluster~="gutter:size000"] {
  --gutter: -0.5rem;
}
[data-bedrock-inline-cluster~="gutter:size00"] {
  --gutter: -0.25rem;
}
[data-bedrock-inline-cluster~="gutter:size1"] {
  --gutter: 0.25rem;
}
[data-bedrock-inline-cluster~="gutter:size2"] {
  --gutter: 0.5rem;
}
[data-bedrock-inline-cluster~="gutter:size3"] {
  --gutter: 1rem;
}
[data-bedrock-inline-cluster~="gutter:size4"] {
  --gutter: 1.25rem;
}
[data-bedrock-inline-cluster~="gutter:size5"] {
  --gutter: 1.5rem;
}
[data-bedrock-inline-cluster~="gutter:size6"] {
  --gutter: 1.75rem;
}
[data-bedrock-inline-cluster~="gutter:size7"] {
  --gutter: 2rem;
}
[data-bedrock-inline-cluster~="gutter:size8"] {
  --gutter: 3rem;
}
[data-bedrock-inline-cluster~="gutter:size9"] {
  --gutter: 4rem;
}
[data-bedrock-inline-cluster~="gutter:size10"] {
  --gutter: 5rem;
}
[data-bedrock-inline-cluster~="gutter:size11"] {
  --gutter: 7.5rem;
}
[data-bedrock-inline-cluster~="gutter:size12"] {
  --gutter: 10rem;
}
[data-bedrock-inline-cluster~="gutter:size13"] {
  --gutter: 15rem;
}
[data-bedrock-inline-cluster~="gutter:size14"] {
  --gutter: 20rem;
}
[data-bedrock-inline-cluster~="gutter:size15"] {
  --gutter: 30rem;
}
