/*
  inline.css
*/

[data-br-inline] {
  --gap: initial;
  --switch-at: initial;
  --min-item-width: initial;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap, 0px);
  justify-content: flex-start;
  align-items: flex-start;
}

[data-br-inline] > * {
  margin: 0;
}

:is(
  [data-br-inline][style*="--switchAt"],
  [data-br-inline][style*="--switch-at"],
  [data-br-inline*="--switchAt"]
) {
  flex-wrap: wrap;
}

[data-br-inline]:is(
    [style*="--switchAt"],
    [style*="--switch-at"],
    [data-br-inline*="--switchAt"]
  )
  > * {
  flex-basis: calc((var(--switch-at) - (100% - var(--gap, 0px))) * 999);
}

[data-br-inline][style*="--min-item-width"] > * {
  min-inline-size: var(--min-item-width, 0);
}

[data-br-inline~="justify:start"] {
  justify-content: flex-start;
}
[data-br-inline~="justify:center"] {
  justify-content: center;
}
[data-br-inline~="justify:end"] {
  justify-content: flex-end;
}
[data-br-inline~="justify:space-between"] {
  justify-content: space-between;
}
[data-br-inline~="justify:space-around"] {
  justify-content: space-around;
}

[data-br-inline~="align:start"] {
  align-items: flex-start;
}
[data-br-inline~="align:center"] {
  align-items: center;
}
[data-br-inline~="align:end"] {
  align-items: flex-end;
}
[data-br-inline~="align:stretch"] {
  align-items: stretch;
}

[data-br-inline~="stretch:all"] > * {
  flex: 1;
}
[data-br-inline~="stretch:start"] > :first-child {
  flex: 1;
}
[data-br-inline~="stretch:end"] > :last-child {
  flex: 1;
}

[data-br-inline~="stretch:0"] > :nth-child(1) {
  flex: 1;
}
[data-br-inline~="stretch:1"] > :nth-child(2) {
  flex: 1;
}
[data-br-inline~="stretch:2"] > :nth-child(3) {
  flex: 1;
}
[data-br-inline~="stretch:3"] > :nth-child(4) {
  flex: 1;
}
[data-br-inline~="stretch:4"] > :nth-child(5) {
  flex: 1;
}

/* Gutter Sizes */

/* gap sizes */
[data-br-inline~="gap:size000"] {
  --gap: -0.5rem;
}
[data-br-inline~="gap:size00"] {
  --gap: -0.25rem;
}
[data-br-inline~="gap:size1"] {
  --gap: 0.25rem;
}
[data-br-inline~="gap:size2"] {
  --gap: 0.5rem;
}
[data-br-inline~="gap:size3"] {
  --gap: 1rem;
}
[data-br-inline~="gap:size4"] {
  --gap: 1.25rem;
}
[data-br-inline~="gap:size5"] {
  --gap: 1.5rem;
}
[data-br-inline~="gap:size6"] {
  --gap: 1.75rem;
}
[data-br-inline~="gap:size7"] {
  --gap: 2rem;
}
[data-br-inline~="gap:size8"] {
  --gap: 3rem;
}
[data-br-inline~="gap:size9"] {
  --gap: 4rem;
}
[data-br-inline~="gap:size10"] {
  --gap: 5rem;
}
[data-br-inline~="gap:size11"] {
  --gap: 7.5rem;
}
[data-br-inline~="gap:size12"] {
  --gap: 10rem;
}
[data-br-inline~="gap:size13"] {
  --gap: 15rem;
}
[data-br-inline~="gap:size14"] {
  --gap: 20rem;
}
[data-br-inline~="gap:size15"] {
  --gap: 30rem;
}

/* Min Item Widths */
[data-br-inline~="minItemWidth:sizeContent1"] {
  --min-item-width: 20ch;
}
[data-br-inline~="minItemWidth:sizeContent2"] {
  --min-item-width: 45ch;
}
[data-br-inline~="minItemWidth:sizeContent3"] {
  --min-item-width: 60ch;
}
[data-br-inline~="minItemWidth:sizeHeader1"] {
  --min-item-width: 20ch;
}
[data-br-inline~="minItemWidth:sizeHeader2"] {
  --min-item-width: 25ch;
}
[data-br-inline~="minItemWidth:sizeHeader3"] {
  --min-item-width: 35ch;
}
[data-br-inline~="minItemWidth:sizeXxs"] {
  --min-item-width: 240px;
}
[data-br-inline~="minItemWidth:sizeXs"] {
  --min-item-width: 360px;
}
[data-br-inline~="minItemWidth:sizeSm"] {
  --min-item-width: 480px;
}
[data-br-inline~="minItemWidth:sizeMd"] {
  --min-item-width: 768px;
}
[data-br-inline~="minItemWidth:sizeLg"] {
  --min-item-width: 1024px;
}
[data-br-inline~="minItemWidth:sizeXl"] {
  --min-item-width: 1440px;
}
[data-br-inline~="minItemWidth:sizeXxl"] {
  --min-item-width: 1920px;
}

/* Switch at Widths */
[data-br-inline~="switchAt:sizeContent1"] {
  --switch-at: 20ch;
}
[data-br-inline~="switchAt:sizeContent2"] {
  --switch-at: 45ch;
}
[data-br-inline~="switchAt:sizeContent3"] {
  --switch-at: 60ch;
}
[data-br-inline~="switchAt:sizeHeader1"] {
  --switch-at: 20ch;
}
[data-br-inline~="switchAt:sizeHeader2"] {
  --switch-at: 25ch;
}
[data-br-inline~="switchAt:sizeHeader3"] {
  --switch-at: 35ch;
}
[data-br-inline~="switchAt:sizeXxs"] {
  --switch-at: 240px;
}
[data-br-inline~="switchAt:sizeXs"] {
  --switch-at: 360px;
}
[data-br-inline~="switchAt:sizeSm"] {
  --switch-at: 480px;
}
[data-br-inline~="switchAt:sizeMd"] {
  --switch-at: 768px;
}
[data-br-inline~="switchAt:sizeLg"] {
  --switch-at: 1024px;
}
[data-br-inline~="switchAt:sizeXl"] {
  --switch-at: 1440px;
}
[data-br-inline~="switchAt:sizeXxl"] {
  --switch-at: 1920px;
}

/* Padding styles from padbox.css */
[data-br-inline~="padding:size000"] {
  padding: 0;
}
[data-br-inline~="padding:size00"] {
  padding: 0;
}
[data-br-inline~="padding:size1"] {
  padding: 0.25rem;
}
[data-br-inline~="padding:size2"] {
  padding: 0.5rem;
}
[data-br-inline~="padding:size3"] {
  padding: 1rem;
}
[data-br-inline~="padding:size4"] {
  padding: 1.25rem;
}
[data-br-inline~="padding:size5"] {
  padding: 1.5rem;
}
[data-br-inline~="padding:size6"] {
  padding: 1.75rem;
}
[data-br-inline~="padding:size7"] {
  padding: 2rem;
}
[data-br-inline~="padding:size8"] {
  padding: 3rem;
}
[data-br-inline~="padding:size9"] {
  padding: 4rem;
}
[data-br-inline~="padding:size10"] {
  padding: 5rem;
}
[data-br-inline~="padding:size11"] {
  padding: 7.5rem;
}
[data-br-inline~="padding:size12"] {
  padding: 10rem;
}
[data-br-inline~="padding:size13"] {
  padding: 15rem;
}
[data-br-inline~="padding:size14"] {
  padding: 20rem;
}
[data-br-inline~="padding:size15"] {
  padding: 30rem;
}
[data-br-inline~="paddingInline:size000"] {
  padding-inline: 0;
}
[data-br-inline~="paddingInline:size00"] {
  padding-inline: 0;
}
[data-br-inline~="paddingInline:size1"] {
  padding-inline: 0.25rem;
}
[data-br-inline~="paddingInline:size2"] {
  padding-inline: 0.5rem;
}
[data-br-inline~="paddingInline:size3"] {
  padding-inline: 1rem;
}
[data-br-inline~="paddingInline:size4"] {
  padding-inline: 1.25rem;
}
[data-br-inline~="paddingInline:size5"] {
  padding-inline: 1.5rem;
}
[data-br-inline~="paddingInline:size6"] {
  padding-inline: 1.75rem;
}
[data-br-inline~="paddingInline:size7"] {
  padding-inline: 2rem;
}
[data-br-inline~="paddingInline:size8"] {
  padding-inline: 3rem;
}
[data-br-inline~="paddingInline:size9"] {
  padding-inline: 4rem;
}
[data-br-inline~="paddingInline:size10"] {
  padding-inline: 5rem;
}
[data-br-inline~="paddingInline:size11"] {
  padding-inline: 7.5rem;
}
[data-br-inline~="paddingInline:size12"] {
  padding-inline: 10rem;
}
[data-br-inline~="paddingInline:size13"] {
  padding-inline: 15rem;
}
[data-br-inline~="paddingInline:size14"] {
  padding-inline: 20rem;
}
[data-br-inline~="paddingInline:size15"] {
  padding-inline: 30rem;
}
[data-br-inline~="paddingInlineStart:size000"] {
  padding-inline-start: 0;
}
[data-br-inline~="paddingInlineStart:size00"] {
  padding-inline-start: 0;
}
[data-br-inline~="paddingInlineStart:size1"] {
  padding-inline-start: 0.25rem;
}
[data-br-inline~="paddingInlineStart:size2"] {
  padding-inline-start: 0.5rem;
}
[data-br-inline~="paddingInlineStart:size3"] {
  padding-inline-start: 1rem;
}
[data-br-inline~="paddingInlineStart:size4"] {
  padding-inline-start: 1.25rem;
}
[data-br-inline~="paddingInlineStart:size5"] {
  padding-inline-start: 1.5rem;
}
[data-br-inline~="paddingInlineStart:size6"] {
  padding-inline-start: 1.75rem;
}
[data-br-inline~="paddingInlineStart:size7"] {
  padding-inline-start: 2rem;
}
[data-br-inline~="paddingInlineStart:size8"] {
  padding-inline-start: 3rem;
}
[data-br-inline~="paddingInlineStart:size9"] {
  padding-inline-start: 4rem;
}
[data-br-inline~="paddingInlineStart:size10"] {
  padding-inline-start: 5rem;
}
[data-br-inline~="paddingInlineStart:size11"] {
  padding-inline-start: 7.5rem;
}
[data-br-inline~="paddingInlineStart:size12"] {
  padding-inline-start: 10rem;
}
[data-br-inline~="paddingInlineStart:size13"] {
  padding-inline-start: 15rem;
}
[data-br-inline~="paddingInlineStart:size14"] {
  padding-inline-start: 20rem;
}
[data-br-inline~="paddingInlineStart:size15"] {
  padding-inline-start: 30rem;
}
[data-br-inline~="paddingInlineEnd:size000"] {
  padding-inline-end: 0;
}
[data-br-inline~="paddingInlineEnd:size00"] {
  padding-inline-end: 0;
}
[data-br-inline~="paddingInlineEnd:size1"] {
  padding-inline-end: 0.25rem;
}
[data-br-inline~="paddingInlineEnd:size2"] {
  padding-inline-end: 0.5rem;
}
[data-br-inline~="paddingInlineEnd:size3"] {
  padding-inline-end: 1rem;
}
[data-br-inline~="paddingInlineEnd:size4"] {
  padding-inline-end: 1.25rem;
}
[data-br-inline~="paddingInlineEnd:size5"] {
  padding-inline-end: 1.5rem;
}
[data-br-inline~="paddingInlineEnd:size6"] {
  padding-inline-end: 1.75rem;
}
[data-br-inline~="paddingInlineEnd:size7"] {
  padding-inline-end: 2rem;
}
[data-br-inline~="paddingInlineEnd:size8"] {
  padding-inline-end: 3rem;
}
[data-br-inline~="paddingInlineEnd:size9"] {
  padding-inline-end: 4rem;
}
[data-br-inline~="paddingInlineEnd:size10"] {
  padding-inline-end: 5rem;
}
[data-br-inline~="paddingInlineEnd:size11"] {
  padding-inline-end: 7.5rem;
}
[data-br-inline~="paddingInlineEnd:size12"] {
  padding-inline-end: 10rem;
}
[data-br-inline~="paddingInlineEnd:size13"] {
  padding-inline-end: 15rem;
}
[data-br-inline~="paddingInlineEnd:size14"] {
  padding-inline-end: 20rem;
}
[data-br-inline~="paddingInlineEnd:size15"] {
  padding-inline-end: 30rem;
}
[data-br-inline~="paddingBlock:size000"] {
  padding-block: 0;
}
[data-br-inline~="paddingBlock:size00"] {
  padding-block: 0;
}
[data-br-inline~="paddingBlock:size1"] {
  padding-block: 0.25rem;
}
[data-br-inline~="paddingBlock:size2"] {
  padding-block: 0.5rem;
}
[data-br-inline~="paddingBlock:size3"] {
  padding-block: 1rem;
}
[data-br-inline~="paddingBlock:size4"] {
  padding-block: 1.25rem;
}
[data-br-inline~="paddingBlock:size5"] {
  padding-block: 1.5rem;
}
[data-br-inline~="paddingBlock:size6"] {
  padding-block: 1.75rem;
}
[data-br-inline~="paddingBlock:size7"] {
  padding-block: 2rem;
}
[data-br-inline~="paddingBlock:size8"] {
  padding-block: 3rem;
}
[data-br-inline~="paddingBlock:size9"] {
  padding-block: 4rem;
}
[data-br-inline~="paddingBlock:size10"] {
  padding-block: 5rem;
}
[data-br-inline~="paddingBlock:size11"] {
  padding-block: 7.5rem;
}
[data-br-inline~="paddingBlock:size12"] {
  padding-block: 10rem;
}
[data-br-inline~="paddingBlock:size13"] {
  padding-block: 15rem;
}
[data-br-inline~="paddingBlock:size14"] {
  padding-block: 20rem;
}
[data-br-inline~="paddingBlock:size15"] {
  padding-block: 30rem;
}
[data-br-inline~="paddingBlockStart:size000"] {
  padding-block-start: 0;
}
[data-br-inline~="paddingBlockStart:size00"] {
  padding-block-start: 0;
}
[data-br-inline~="paddingBlockStart:size1"] {
  padding-block-start: 0.25rem;
}
[data-br-inline~="paddingBlockStart:size2"] {
  padding-block-start: 0.5rem;
}
[data-br-inline~="paddingBlockStart:size3"] {
  padding-block-start: 1rem;
}
[data-br-inline~="paddingBlockStart:size4"] {
  padding-block-start: 1.25rem;
}
[data-br-inline~="paddingBlockStart:size5"] {
  padding-block-start: 1.5rem;
}
[data-br-inline~="paddingBlockStart:size6"] {
  padding-block-start: 1.75rem;
}
[data-br-inline~="paddingBlockStart:size7"] {
  padding-block-start: 2rem;
}
[data-br-inline~="paddingBlockStart:size8"] {
  padding-block-start: 3rem;
}
[data-br-inline~="paddingBlockStart:size9"] {
  padding-block-start: 4rem;
}
[data-br-inline~="paddingBlockStart:size10"] {
  padding-block-start: 5rem;
}
[data-br-inline~="paddingBlockStart:size11"] {
  padding-block-start: 7.5rem;
}
[data-br-inline~="paddingBlockStart:size12"] {
  padding-block-start: 10rem;
}
[data-br-inline~="paddingBlockStart:size13"] {
  padding-block-start: 15rem;
}
[data-br-inline~="paddingBlockStart:size14"] {
  padding-block-start: 20rem;
}
[data-br-inline~="paddingBlockStart:size15"] {
  padding-block-start: 30rem;
}
[data-br-inline~="paddingBlockEnd:size000"] {
  padding-block-end: 0;
}
[data-br-inline~="paddingBlockEnd:size00"] {
  padding-block-end: 0;
}
[data-br-inline~="paddingBlockEnd:size1"] {
  padding-block-end: 0.25rem;
}
[data-br-inline~="paddingBlockEnd:size2"] {
  padding-block-end: 0.5rem;
}
[data-br-inline~="paddingBlockEnd:size3"] {
  padding-block-end: 1rem;
}
[data-br-inline~="paddingBlockEnd:size4"] {
  padding-block-end: 1.25rem;
}
[data-br-inline~="paddingBlockEnd:size5"] {
  padding-block-end: 1.5rem;
}
[data-br-inline~="paddingBlockEnd:size6"] {
  padding-block-end: 1.75rem;
}
[data-br-inline~="paddingBlockEnd:size7"] {
  padding-block-end: 2rem;
}
[data-br-inline~="paddingBlockEnd:size8"] {
  padding-block-end: 3rem;
}
[data-br-inline~="paddingBlockEnd:size9"] {
  padding-block-end: 4rem;
}
[data-br-inline~="paddingBlockEnd:size10"] {
  padding-block-end: 5rem;
}
[data-br-inline~="paddingBlockEnd:size11"] {
  padding-block-end: 7.5rem;
}
[data-br-inline~="paddingBlockEnd:size12"] {
  padding-block-end: 10rem;
}
[data-br-inline~="paddingBlockEnd:size13"] {
  padding-block-end: 15rem;
}
[data-br-inline~="paddingBlockEnd:size14"] {
  padding-block-end: 20rem;
}
[data-br-inline~="paddingBlockEnd:size15"] {
  padding-block-end: 30rem;
}
