/*
  reel.css
*/

[data-br-reel] {
  --gap: initial;
  display: flex;
  gap: var(--gap, 0px);
  overflow-x: auto;
  scroll-snap-type: none;
}

[data-br-reel] > * {
  margin: 0;
  scroll-snap-align: start;
}

[data-br-reel~="snapType:none"] {
  scroll-snap-type: none;
}
[data-br-reel~="snapType:proximity"] {
  scroll-snap-type: x proximity;
}
[data-br-reel~="snapType:mandatory"] {
  scroll-snap-type: x mandatory;
}

/* gap sizes */
[data-br-reel~="gap:size000"] {
  --gap: -0.5rem;
}
[data-br-reel~="gap:size00"] {
  --gap: -0.25rem;
}
[data-br-reel~="gap:size1"] {
  --gap: 0.25rem;
}
[data-br-reel~="gap:size2"] {
  --gap: 0.5rem;
}
[data-br-reel~="gap:size3"] {
  --gap: 1rem;
}
[data-br-reel~="gap:size4"] {
  --gap: 1.25rem;
}
[data-br-reel~="gap:size5"] {
  --gap: 1.5rem;
}
[data-br-reel~="gap:size6"] {
  --gap: 1.75rem;
}
[data-br-reel~="gap:size7"] {
  --gap: 2rem;
}
[data-br-reel~="gap:size8"] {
  --gap: 3rem;
}
[data-br-reel~="gap:size9"] {
  --gap: 4rem;
}
[data-br-reel~="gap:size10"] {
  --gap: 5rem;
}
[data-br-reel~="gap:size11"] {
  --gap: 7.5rem;
}
[data-br-reel~="gap:size12"] {
  --gap: 10rem;
}
[data-br-reel~="gap:size13"] {
  --gap: 15rem;
}
[data-br-reel~="gap:size14"] {
  --gap: 20rem;
}
[data-br-reel~="gap:size15"] {
  --gap: 30rem;
}

/* Padding styles from padbox.css */
:is([data-br-reel~="padding:size000"]) {
  padding: 0;
}
:is([data-br-reel~="padding:size00"]) {
  padding: 0;
}
:is([data-br-reel~="padding:size1"]) {
  padding: 0.25rem;
}
:is([data-br-reel~="padding:size2"]) {
  padding: 0.5rem;
}
:is([data-br-reel~="padding:size3"]) {
  padding: 1rem;
}
:is([data-br-reel~="padding:size4"]) {
  padding: 1.25rem;
}
:is([data-br-reel~="padding:size5"]) {
  padding: 1.5rem;
}
:is([data-br-reel~="padding:size6"]) {
  padding: 1.75rem;
}
:is([data-br-reel~="padding:size7"]) {
  padding: 2rem;
}
:is([data-br-reel~="padding:size8"]) {
  padding: 3rem;
}
:is([data-br-reel~="padding:size9"]) {
  padding: 4rem;
}
:is([data-br-reel~="padding:size10"]) {
  padding: 5rem;
}
:is([data-br-reel~="padding:size11"]) {
  padding: 7.5rem;
}
:is([data-br-reel~="padding:size12"]) {
  padding: 10rem;
}
:is([data-br-reel~="padding:size13"]) {
  padding: 15rem;
}
:is([data-br-reel~="padding:size14"]) {
  padding: 20rem;
}
:is([data-br-reel~="padding:size15"]) {
  padding: 30rem;
}
:is([data-br-reel~="paddingInline:size000"]) {
  padding-inline: 0;
}
:is([data-br-reel~="paddingInline:size00"]) {
  padding-inline: 0;
}
:is([data-br-reel~="paddingInline:size1"]) {
  padding-inline: 0.25rem;
}
:is([data-br-reel~="paddingInline:size2"]) {
  padding-inline: 0.5rem;
}
:is([data-br-reel~="paddingInline:size3"]) {
  padding-inline: 1rem;
}
:is([data-br-reel~="paddingInline:size4"]) {
  padding-inline: 1.25rem;
}
:is([data-br-reel~="paddingInline:size5"]) {
  padding-inline: 1.5rem;
}
:is([data-br-reel~="paddingInline:size6"]) {
  padding-inline: 1.75rem;
}
:is([data-br-reel~="paddingInline:size7"]) {
  padding-inline: 2rem;
}
:is([data-br-reel~="paddingInline:size8"]) {
  padding-inline: 3rem;
}
:is([data-br-reel~="paddingInline:size9"]) {
  padding-inline: 4rem;
}
:is([data-br-reel~="paddingInline:size10"]) {
  padding-inline: 5rem;
}
:is([data-br-reel~="paddingInline:size11"]) {
  padding-inline: 7.5rem;
}
:is([data-br-reel~="paddingInline:size12"]) {
  padding-inline: 10rem;
}
:is([data-br-reel~="paddingInline:size13"]) {
  padding-inline: 15rem;
}
:is([data-br-reel~="paddingInline:size14"]) {
  padding-inline: 20rem;
}
:is([data-br-reel~="paddingInline:size15"]) {
  padding-inline: 30rem;
}
:is([data-br-reel~="paddingInlineStart:size000"]) {
  padding-inline-start: 0;
}
:is([data-br-reel~="paddingInlineStart:size00"]) {
  padding-inline-start: 0;
}
:is([data-br-reel~="paddingInlineStart:size1"]) {
  padding-inline-start: 0.25rem;
}
:is([data-br-reel~="paddingInlineStart:size2"]) {
  padding-inline-start: 0.5rem;
}
:is([data-br-reel~="paddingInlineStart:size3"]) {
  padding-inline-start: 1rem;
}
:is([data-br-reel~="paddingInlineStart:size4"]) {
  padding-inline-start: 1.25rem;
}
:is([data-br-reel~="paddingInlineStart:size5"]) {
  padding-inline-start: 1.5rem;
}
:is([data-br-reel~="paddingInlineStart:size6"]) {
  padding-inline-start: 1.75rem;
}
:is([data-br-reel~="paddingInlineStart:size7"]) {
  padding-inline-start: 2rem;
}
:is([data-br-reel~="paddingInlineStart:size8"]) {
  padding-inline-start: 3rem;
}
:is([data-br-reel~="paddingInlineStart:size9"]) {
  padding-inline-start: 4rem;
}
:is([data-br-reel~="paddingInlineStart:size10"]) {
  padding-inline-start: 5rem;
}
:is([data-br-reel~="paddingInlineStart:size11"]) {
  padding-inline-start: 7.5rem;
}
:is([data-br-reel~="paddingInlineStart:size12"]) {
  padding-inline-start: 10rem;
}
:is([data-br-reel~="paddingInlineStart:size13"]) {
  padding-inline-start: 15rem;
}
:is([data-br-reel~="paddingInlineStart:size14"]) {
  padding-inline-start: 20rem;
}
:is([data-br-reel~="paddingInlineStart:size15"]) {
  padding-inline-start: 30rem;
}
:is([data-br-reel~="paddingInlineEnd:size000"]) {
  padding-inline-end: 0;
}
:is([data-br-reel~="paddingInlineEnd:size00"]) {
  padding-inline-end: 0;
}
:is([data-br-reel~="paddingInlineEnd:size1"]) {
  padding-inline-end: 0.25rem;
}
:is([data-br-reel~="paddingInlineEnd:size2"]) {
  padding-inline-end: 0.5rem;
}
:is([data-br-reel~="paddingInlineEnd:size3"]) {
  padding-inline-end: 1rem;
}
:is([data-br-reel~="paddingInlineEnd:size4"]) {
  padding-inline-end: 1.25rem;
}
:is([data-br-reel~="paddingInlineEnd:size5"]) {
  padding-inline-end: 1.5rem;
}
:is([data-br-reel~="paddingInlineEnd:size6"]) {
  padding-inline-end: 1.75rem;
}
:is([data-br-reel~="paddingInlineEnd:size7"]) {
  padding-inline-end: 2rem;
}
:is([data-br-reel~="paddingInlineEnd:size8"]) {
  padding-inline-end: 3rem;
}
:is([data-br-reel~="paddingInlineEnd:size9"]) {
  padding-inline-end: 4rem;
}
:is([data-br-reel~="paddingInlineEnd:size10"]) {
  padding-inline-end: 5rem;
}
:is([data-br-reel~="paddingInlineEnd:size11"]) {
  padding-inline-end: 7.5rem;
}
:is([data-br-reel~="paddingInlineEnd:size12"]) {
  padding-inline-end: 10rem;
}
:is([data-br-reel~="paddingInlineEnd:size13"]) {
  padding-inline-end: 15rem;
}
:is([data-br-reel~="paddingInlineEnd:size14"]) {
  padding-inline-end: 20rem;
}
:is([data-br-reel~="paddingInlineEnd:size15"]) {
  padding-inline-end: 30rem;
}
:is([data-br-reel~="paddingBlock:size000"]) {
  padding-block: 0;
}
:is([data-br-reel~="paddingBlock:size00"]) {
  padding-block: 0;
}
:is([data-br-reel~="paddingBlock:size1"]) {
  padding-block: 0.25rem;
}
:is([data-br-reel~="paddingBlock:size2"]) {
  padding-block: 0.5rem;
}
:is([data-br-reel~="paddingBlock:size3"]) {
  padding-block: 1rem;
}
:is([data-br-reel~="paddingBlock:size4"]) {
  padding-block: 1.25rem;
}
:is([data-br-reel~="paddingBlock:size5"]) {
  padding-block: 1.5rem;
}
:is([data-br-reel~="paddingBlock:size6"]) {
  padding-block: 1.75rem;
}
:is([data-br-reel~="paddingBlock:size7"]) {
  padding-block: 2rem;
}
:is([data-br-reel~="paddingBlock:size8"]) {
  padding-block: 3rem;
}
:is([data-br-reel~="paddingBlock:size9"]) {
  padding-block: 4rem;
}
:is([data-br-reel~="paddingBlock:size10"]) {
  padding-block: 5rem;
}
:is([data-br-reel~="paddingBlock:size11"]) {
  padding-block: 7.5rem;
}
:is([data-br-reel~="paddingBlock:size12"]) {
  padding-block: 10rem;
}
:is([data-br-reel~="paddingBlock:size13"]) {
  padding-block: 15rem;
}
:is([data-br-reel~="paddingBlock:size14"]) {
  padding-block: 20rem;
}
:is([data-br-reel~="paddingBlock:size15"]) {
  padding-block: 30rem;
}
:is([data-br-reel~="paddingBlockStart:size000"]) {
  padding-block-start: 0;
}
:is([data-br-reel~="paddingBlockStart:size00"]) {
  padding-block-start: 0;
}
:is([data-br-reel~="paddingBlockStart:size1"]) {
  padding-block-start: 0.25rem;
}
:is([data-br-reel~="paddingBlockStart:size2"]) {
  padding-block-start: 0.5rem;
}
:is([data-br-reel~="paddingBlockStart:size3"]) {
  padding-block-start: 1rem;
}
:is([data-br-reel~="paddingBlockStart:size4"]) {
  padding-block-start: 1.25rem;
}
:is([data-br-reel~="paddingBlockStart:size5"]) {
  padding-block-start: 1.5rem;
}
:is([data-br-reel~="paddingBlockStart:size6"]) {
  padding-block-start: 1.75rem;
}
:is([data-br-reel~="paddingBlockStart:size7"]) {
  padding-block-start: 2rem;
}
:is([data-br-reel~="paddingBlockStart:size8"]) {
  padding-block-start: 3rem;
}
:is([data-br-reel~="paddingBlockStart:size9"]) {
  padding-block-start: 4rem;
}
:is([data-br-reel~="paddingBlockStart:size10"]) {
  padding-block-start: 5rem;
}
:is([data-br-reel~="paddingBlockStart:size11"]) {
  padding-block-start: 7.5rem;
}
:is([data-br-reel~="paddingBlockStart:size12"]) {
  padding-block-start: 10rem;
}
:is([data-br-reel~="paddingBlockStart:size13"]) {
  padding-block-start: 15rem;
}
:is([data-br-reel~="paddingBlockStart:size14"]) {
  padding-block-start: 20rem;
}
:is([data-br-reel~="paddingBlockStart:size15"]) {
  padding-block-start: 30rem;
}
:is([data-br-reel~="paddingBlockEnd:size000"]) {
  padding-block-end: 0;
}
:is([data-br-reel~="paddingBlockEnd:size00"]) {
  padding-block-end: 0;
}
:is([data-br-reel~="paddingBlockEnd:size1"]) {
  padding-block-end: 0.25rem;
}
:is([data-br-reel~="paddingBlockEnd:size2"]) {
  padding-block-end: 0.5rem;
}
:is([data-br-reel~="paddingBlockEnd:size3"]) {
  padding-block-end: 1rem;
}
:is([data-br-reel~="paddingBlockEnd:size4"]) {
  padding-block-end: 1.25rem;
}
:is([data-br-reel~="paddingBlockEnd:size5"]) {
  padding-block-end: 1.5rem;
}
:is([data-br-reel~="paddingBlockEnd:size6"]) {
  padding-block-end: 1.75rem;
}
:is([data-br-reel~="paddingBlockEnd:size7"]) {
  padding-block-end: 2rem;
}
:is([data-br-reel~="paddingBlockEnd:size8"]) {
  padding-block-end: 3rem;
}
:is([data-br-reel~="paddingBlockEnd:size9"]) {
  padding-block-end: 4rem;
}
:is([data-br-reel~="paddingBlockEnd:size10"]) {
  padding-block-end: 5rem;
}
:is([data-br-reel~="paddingBlockEnd:size11"]) {
  padding-block-end: 7.5rem;
}
:is([data-br-reel~="paddingBlockEnd:size12"]) {
  padding-block-end: 10rem;
}
:is([data-br-reel~="paddingBlockEnd:size13"]) {
  padding-block-end: 15rem;
}
:is([data-br-reel~="paddingBlockEnd:size14"]) {
  padding-block-end: 20rem;
}
:is([data-br-reel~="paddingBlockEnd:size15"]) {
  padding-block-end: 30rem;
}
