/*
  stack.css
*/

[data-br-stack] {
  --gap: initial;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--gap, 0px);
}

[data-br-stack] > * {
  margin: 0;
}

[data-br-stack~="align:start"] {
  align-items: flex-start;
}
[data-br-stack~="align:center"] {
  align-items: center;
}
[data-br-stack~="align:end"] {
  align-items: flex-end;
}
[data-br-stack~="align:stretch"] {
  align-items: stretch;
}

/* Gutter Sizes */

/* gap sizes */
[data-br-stack~="gap:size000"] {
  --gap: -0.5rem;
}
[data-br-stack~="gap:size00"] {
  --gap: -0.25rem;
}
[data-br-stack~="gap:size1"] {
  --gap: 0.25rem;
}
[data-br-stack~="gap:size2"] {
  --gap: 0.5rem;
}
[data-br-stack~="gap:size3"] {
  --gap: 1rem;
}
[data-br-stack~="gap:size4"] {
  --gap: 1.25rem;
}
[data-br-stack~="gap:size5"] {
  --gap: 1.5rem;
}
[data-br-stack~="gap:size6"] {
  --gap: 1.75rem;
}
[data-br-stack~="gap:size7"] {
  --gap: 2rem;
}
[data-br-stack~="gap:size8"] {
  --gap: 3rem;
}
[data-br-stack~="gap:size9"] {
  --gap: 4rem;
}
[data-br-stack~="gap:size10"] {
  --gap: 5rem;
}
[data-br-stack~="gap:size11"] {
  --gap: 7.5rem;
}
[data-br-stack~="gap:size12"] {
  --gap: 10rem;
}
[data-br-stack~="gap:size13"] {
  --gap: 15rem;
}
[data-br-stack~="gap:size14"] {
  --gap: 20rem;
}
[data-br-stack~="gap:size15"] {
  --gap: 30rem;
}

/* Padding styles from padbox.css */
:is([data-br-stack~="padding:size000"]) {
  padding: 0;
}
:is([data-br-stack~="padding:size00"]) {
  padding: 0;
}
:is([data-br-stack~="padding:size1"]) {
  padding: 0.25rem;
}
:is([data-br-stack~="padding:size2"]) {
  padding: 0.5rem;
}
:is([data-br-stack~="padding:size3"]) {
  padding: 1rem;
}
:is([data-br-stack~="padding:size4"]) {
  padding: 1.25rem;
}
:is([data-br-stack~="padding:size5"]) {
  padding: 1.5rem;
}
:is([data-br-stack~="padding:size6"]) {
  padding: 1.75rem;
}
:is([data-br-stack~="padding:size7"]) {
  padding: 2rem;
}
:is([data-br-stack~="padding:size8"]) {
  padding: 3rem;
}
:is([data-br-stack~="padding:size9"]) {
  padding: 4rem;
}
:is([data-br-stack~="padding:size10"]) {
  padding: 5rem;
}
:is([data-br-stack~="padding:size11"]) {
  padding: 7.5rem;
}
:is([data-br-stack~="padding:size12"]) {
  padding: 10rem;
}
:is([data-br-stack~="padding:size13"]) {
  padding: 15rem;
}
:is([data-br-stack~="padding:size14"]) {
  padding: 20rem;
}
:is([data-br-stack~="padding:size15"]) {
  padding: 30rem;
}
:is([data-br-stack~="paddingInline:size000"]) {
  padding-inline: 0;
}
:is([data-br-stack~="paddingInline:size00"]) {
  padding-inline: 0;
}
:is([data-br-stack~="paddingInline:size1"]) {
  padding-inline: 0.25rem;
}
:is([data-br-stack~="paddingInline:size2"]) {
  padding-inline: 0.5rem;
}
:is([data-br-stack~="paddingInline:size3"]) {
  padding-inline: 1rem;
}
:is([data-br-stack~="paddingInline:size4"]) {
  padding-inline: 1.25rem;
}
:is([data-br-stack~="paddingInline:size5"]) {
  padding-inline: 1.5rem;
}
:is([data-br-stack~="paddingInline:size6"]) {
  padding-inline: 1.75rem;
}
:is([data-br-stack~="paddingInline:size7"]) {
  padding-inline: 2rem;
}
:is([data-br-stack~="paddingInline:size8"]) {
  padding-inline: 3rem;
}
:is([data-br-stack~="paddingInline:size9"]) {
  padding-inline: 4rem;
}
:is([data-br-stack~="paddingInline:size10"]) {
  padding-inline: 5rem;
}
:is([data-br-stack~="paddingInline:size11"]) {
  padding-inline: 7.5rem;
}
:is([data-br-stack~="paddingInline:size12"]) {
  padding-inline: 10rem;
}
:is([data-br-stack~="paddingInline:size13"]) {
  padding-inline: 15rem;
}
:is([data-br-stack~="paddingInline:size14"]) {
  padding-inline: 20rem;
}
:is([data-br-stack~="paddingInline:size15"]) {
  padding-inline: 30rem;
}
:is([data-br-stack~="paddingInlineStart:size000"]) {
  padding-inline-start: 0;
}
:is([data-br-stack~="paddingInlineStart:size00"]) {
  padding-inline-start: 0;
}
:is([data-br-stack~="paddingInlineStart:size1"]) {
  padding-inline-start: 0.25rem;
}
:is([data-br-stack~="paddingInlineStart:size2"]) {
  padding-inline-start: 0.5rem;
}
:is([data-br-stack~="paddingInlineStart:size3"]) {
  padding-inline-start: 1rem;
}
:is([data-br-stack~="paddingInlineStart:size4"]) {
  padding-inline-start: 1.25rem;
}
:is([data-br-stack~="paddingInlineStart:size5"]) {
  padding-inline-start: 1.5rem;
}
:is([data-br-stack~="paddingInlineStart:size6"]) {
  padding-inline-start: 1.75rem;
}
:is([data-br-stack~="paddingInlineStart:size7"]) {
  padding-inline-start: 2rem;
}
:is([data-br-stack~="paddingInlineStart:size8"]) {
  padding-inline-start: 3rem;
}
:is([data-br-stack~="paddingInlineStart:size9"]) {
  padding-inline-start: 4rem;
}
:is([data-br-stack~="paddingInlineStart:size10"]) {
  padding-inline-start: 5rem;
}
:is([data-br-stack~="paddingInlineStart:size11"]) {
  padding-inline-start: 7.5rem;
}
:is([data-br-stack~="paddingInlineStart:size12"]) {
  padding-inline-start: 10rem;
}
:is([data-br-stack~="paddingInlineStart:size13"]) {
  padding-inline-start: 15rem;
}
:is([data-br-stack~="paddingInlineStart:size14"]) {
  padding-inline-start: 20rem;
}
:is([data-br-stack~="paddingInlineStart:size15"]) {
  padding-inline-start: 30rem;
}
:is([data-br-stack~="paddingInlineEnd:size000"]) {
  padding-inline-end: 0;
}
:is([data-br-stack~="paddingInlineEnd:size00"]) {
  padding-inline-end: 0;
}
:is([data-br-stack~="paddingInlineEnd:size1"]) {
  padding-inline-end: 0.25rem;
}
:is([data-br-stack~="paddingInlineEnd:size2"]) {
  padding-inline-end: 0.5rem;
}
:is([data-br-stack~="paddingInlineEnd:size3"]) {
  padding-inline-end: 1rem;
}
:is([data-br-stack~="paddingInlineEnd:size4"]) {
  padding-inline-end: 1.25rem;
}
:is([data-br-stack~="paddingInlineEnd:size5"]) {
  padding-inline-end: 1.5rem;
}
:is([data-br-stack~="paddingInlineEnd:size6"]) {
  padding-inline-end: 1.75rem;
}
:is([data-br-stack~="paddingInlineEnd:size7"]) {
  padding-inline-end: 2rem;
}
:is([data-br-stack~="paddingInlineEnd:size8"]) {
  padding-inline-end: 3rem;
}
:is([data-br-stack~="paddingInlineEnd:size9"]) {
  padding-inline-end: 4rem;
}
:is([data-br-stack~="paddingInlineEnd:size10"]) {
  padding-inline-end: 5rem;
}
:is([data-br-stack~="paddingInlineEnd:size11"]) {
  padding-inline-end: 7.5rem;
}
:is([data-br-stack~="paddingInlineEnd:size12"]) {
  padding-inline-end: 10rem;
}
:is([data-br-stack~="paddingInlineEnd:size13"]) {
  padding-inline-end: 15rem;
}
:is([data-br-stack~="paddingInlineEnd:size14"]) {
  padding-inline-end: 20rem;
}
:is([data-br-stack~="paddingInlineEnd:size15"]) {
  padding-inline-end: 30rem;
}
:is([data-br-stack~="paddingBlock:size000"]) {
  padding-block: 0;
}
:is([data-br-stack~="paddingBlock:size00"]) {
  padding-block: 0;
}
:is([data-br-stack~="paddingBlock:size1"]) {
  padding-block: 0.25rem;
}
:is([data-br-stack~="paddingBlock:size2"]) {
  padding-block: 0.5rem;
}
:is([data-br-stack~="paddingBlock:size3"]) {
  padding-block: 1rem;
}
:is([data-br-stack~="paddingBlock:size4"]) {
  padding-block: 1.25rem;
}
:is([data-br-stack~="paddingBlock:size5"]) {
  padding-block: 1.5rem;
}
:is([data-br-stack~="paddingBlock:size6"]) {
  padding-block: 1.75rem;
}
:is([data-br-stack~="paddingBlock:size7"]) {
  padding-block: 2rem;
}
:is([data-br-stack~="paddingBlock:size8"]) {
  padding-block: 3rem;
}
:is([data-br-stack~="paddingBlock:size9"]) {
  padding-block: 4rem;
}
:is([data-br-stack~="paddingBlock:size10"]) {
  padding-block: 5rem;
}
:is([data-br-stack~="paddingBlock:size11"]) {
  padding-block: 7.5rem;
}
:is([data-br-stack~="paddingBlock:size12"]) {
  padding-block: 10rem;
}
:is([data-br-stack~="paddingBlock:size13"]) {
  padding-block: 15rem;
}
:is([data-br-stack~="paddingBlock:size14"]) {
  padding-block: 20rem;
}
:is([data-br-stack~="paddingBlock:size15"]) {
  padding-block: 30rem;
}
:is([data-br-stack~="paddingBlockStart:size000"]) {
  padding-block-start: 0;
}
:is([data-br-stack~="paddingBlockStart:size00"]) {
  padding-block-start: 0;
}
:is([data-br-stack~="paddingBlockStart:size1"]) {
  padding-block-start: 0.25rem;
}
:is([data-br-stack~="paddingBlockStart:size2"]) {
  padding-block-start: 0.5rem;
}
:is([data-br-stack~="paddingBlockStart:size3"]) {
  padding-block-start: 1rem;
}
:is([data-br-stack~="paddingBlockStart:size4"]) {
  padding-block-start: 1.25rem;
}
:is([data-br-stack~="paddingBlockStart:size5"]) {
  padding-block-start: 1.5rem;
}
:is([data-br-stack~="paddingBlockStart:size6"]) {
  padding-block-start: 1.75rem;
}
:is([data-br-stack~="paddingBlockStart:size7"]) {
  padding-block-start: 2rem;
}
:is([data-br-stack~="paddingBlockStart:size8"]) {
  padding-block-start: 3rem;
}
:is([data-br-stack~="paddingBlockStart:size9"]) {
  padding-block-start: 4rem;
}
:is([data-br-stack~="paddingBlockStart:size10"]) {
  padding-block-start: 5rem;
}
:is([data-br-stack~="paddingBlockStart:size11"]) {
  padding-block-start: 7.5rem;
}
:is([data-br-stack~="paddingBlockStart:size12"]) {
  padding-block-start: 10rem;
}
:is([data-br-stack~="paddingBlockStart:size13"]) {
  padding-block-start: 15rem;
}
:is([data-br-stack~="paddingBlockStart:size14"]) {
  padding-block-start: 20rem;
}
:is([data-br-stack~="paddingBlockStart:size15"]) {
  padding-block-start: 30rem;
}
:is([data-br-stack~="paddingBlockEnd:size000"]) {
  padding-block-end: 0;
}
:is([data-br-stack~="paddingBlockEnd:size00"]) {
  padding-block-end: 0;
}
:is([data-br-stack~="paddingBlockEnd:size1"]) {
  padding-block-end: 0.25rem;
}
:is([data-br-stack~="paddingBlockEnd:size2"]) {
  padding-block-end: 0.5rem;
}
:is([data-br-stack~="paddingBlockEnd:size3"]) {
  padding-block-end: 1rem;
}
:is([data-br-stack~="paddingBlockEnd:size4"]) {
  padding-block-end: 1.25rem;
}
:is([data-br-stack~="paddingBlockEnd:size5"]) {
  padding-block-end: 1.5rem;
}
:is([data-br-stack~="paddingBlockEnd:size6"]) {
  padding-block-end: 1.75rem;
}
:is([data-br-stack~="paddingBlockEnd:size7"]) {
  padding-block-end: 2rem;
}
:is([data-br-stack~="paddingBlockEnd:size8"]) {
  padding-block-end: 3rem;
}
:is([data-br-stack~="paddingBlockEnd:size9"]) {
  padding-block-end: 4rem;
}
:is([data-br-stack~="paddingBlockEnd:size10"]) {
  padding-block-end: 5rem;
}
:is([data-br-stack~="paddingBlockEnd:size11"]) {
  padding-block-end: 7.5rem;
}
:is([data-br-stack~="paddingBlockEnd:size12"]) {
  padding-block-end: 10rem;
}
:is([data-br-stack~="paddingBlockEnd:size13"]) {
  padding-block-end: 15rem;
}
:is([data-br-stack~="paddingBlockEnd:size14"]) {
  padding-block-end: 20rem;
}
:is([data-br-stack~="paddingBlockEnd:size15"]) {
  padding-block-end: 30rem;
}
